<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kwik Post - Account</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/browse"><img id="logo" src="/assets/img/favicon.png" alt="notepad"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/maker">Homepage</a></div>
    <div class="navlink"><a href="/account">Change Password</a></div>
    <div class="navlink"><a href="/browse">Browse</a></div>
  </nav>
  <section id="change">
    <form id="changeForm" name="changeForm" action="/change" method="POST" class="mainForm">
      <label for="password">Current Password: </label>
      <input id="oldPass" type="password" name="password" placeholder="Current Password"/>
      <label for="newPass">New Password: </label>
      <input id="newPass" type="password" name="newPass" placeholder="New Password"/>
      <label for="newPass2">Confirm New Password: </label>
      <input id="newPass2" type="password" name="newPass2" placeholder="Retype New Password"/>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
      <input id="changeSubmit" type="submit" value="Change Password" />
    </form>
    <div>{{message}}</div>
  </section>
  <div id="messageBox">
    <img id="speech" src="/assets/img/favicon.png" alt="message box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>