<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Kwik Post - Edit Post</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/browse"><img id="logo" src="/assets/img/favicon.png" alt="notepad"/></a>
    <div class="navlink"><a href="/maker">Homepage</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">Change Password</a></div>
    <div class="navlink"><a href="/browse">Browse</a></div>
  </nav>
  <section id="editPost">
    <form id="updateForm" name="updateForm" action="/edit" method="POST" class="postForm">
      <label for="name">Title: </label>
      <input id="postTitle" type="text" name="title" placeholder="Post Title"/>
      <label for="content">Post Content: </label>
      <input id="postContent" type="text" name="content" placeholder=""/>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
      <input class="makePostSubmit" type="submit" value="Update Post" />
    </form>
    <div class="advert">Your Ad Here</div>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>